In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data.csv")
df.head()

C:\Users\James\AppData\Local\Temp\ipykernel_7332\2036481670.py:1: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv")

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318477 entries, 0 to 318476
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 318477 non-null  object
 1   Title              318477 non-null  object
 2   Company            306473 non-null  object
 3   Date               318477 non-null  object
 4   Location           197229 non-null  object
 5   Area               122658 non-null  object
 6   Classification     197229 non-null  object
 7   SubClassification  197229 non-null  object
 8   Requirement        318470 non-null  object
 9   FullDescription    302302 non-null  object
 10  LowestSalary       318477 non-null  int64
 11  HighestSalary      318477 non-null  int64
 12  JobType            302379 non-null  object
dtypes: int64(2), object(11)
memory usage: 31.6+ MB

In [9]:
df.size

4140201

# Describe the dataset

* The data.csv dataset contains job market data from various locations within Australia

* Numerical, Categorical, Ordinal, and Discrete data can be seen within the dataset, due to the
    diverse range of classifiers. 13-columns are used to represent a single job, containing key 
    information such as; Company, Location, Description, Salary etc.
    
* The data follows a tabular format, having structured rows and columns with cells that inform
    the relationship between them.
    
* Valuable attributes such as Salary range, Job Classification, and 
    Location will sections of interest for analysis on the dataset.
    
* What parts of the dataset will we use? (Answer once started)

# Data preparation and preprocessing

* To load the data.csv file into the program, we will make use of the Pandas library.
    1) Import the library using "import pandas as pd"
    2) Use the open_csv() pandas function to import the .csv file. "df = pd.read_csv("data.csv")".
        The .csv file object will be assigned to the variable "df"
        
* Data normalization is important as the same data can be represented in varying formats.
    ***EDIT - We will need to normalise dates, and clean NaN cells found in columns of no use (need to expand more)

# Hypothesis

* (Honestly not too sure what to write here at this point in time)